body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgb(255, 255, 255) 85%), radial-gradient(at left top, rgba(13, 110, 253, 0.5), transparent 50%), radial-gradient(at right top, rgba(255, 228, 132, 0.5), transparent 50%), radial-gradient(at right center, rgba(113, 44, 249, 0.5), transparent 50%), radial-gradient(at left center, rgba(214, 51, 132, 0.5), transparent 50%);
    padding-top: 75px;
    font-size: 14px;
}

canvas{
    border: 0px solid black;
}
